.instructions .container h1 {
    font-size: 32px;
    font-weight: 600;
  }
  
  .instructions {
    background-color: darkred;
    color: white;
    padding: 2px;
  }

  #container {
    margin-top: 10px;
  }
  
  .container p{
    margin-top : 14px;
  }